@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared styles */
.display-flex {
    display: flex;

}

main>section {
    margin-top: 130px;
}

/* dark2 */
.text-gray {
    color: #424242;
}

.text-primary {
    color: rgb(255, 144, 14);
}


/* dark3 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    color: rgb(255, 255, 255);
    border-radius: 8px;

    background: rgb(255, 144, 14);
    font-family: Work Sans;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 25px;


    text-align: center;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */



/* navbar related styles */
.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
}

.navbar {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* team and feature related styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}

/* features section relatated styles */
#feature-section-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    margin-bottom: 24px;

}

.features {
    gap: 140px;
}

.feature-card {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 30px;
    border-radius: 8px;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.feature-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
}

/* some facts  related styles */

.fact-card {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.facts-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 50px;


}

.fact-card {
    padding: 45px 35px;
}

.fact-number {
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-name {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 0px;


}

/* sponsor-info */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* responsive media query */

@media screen and (max-width:576px) {

    .navbar,
    .nav-link,
    .teams ,
    .features{
        flex-direction: column;
    }

    .team-img-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin: 0px 20px;
    }

    .fact-card {
        max-width: 200px;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 0px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 30px;
    }

    .featured-architect img{
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}


@media screen and (min-width:577px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 0px 20px;
        max-width: 708px;
    }

}